.card {
    padding: 4rem 8rem 2rem 8rem;
    box-shadow: var(--shadow-dark);
    width: 50%;
    min-width: 340px;
    margin: 3rem 0;

    &:first-child {
        margin-top: 8rem;
    }

    &:last-child {
        margin-bottom: 8rem;
    }

    @media only screen and (max-width: 900px) {
        width: 75%;
    }
    @media only screen and (max-width: 600px) {
        padding: 3rem 5rem 2rem 5rem;
    }
}

.avatarContainer {
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 599px) {
        margin-bottom: -5rem;
    }
}

.avatar {
    width: 15rem;
    height: 15rem;
    margin-right: 4rem;
}

.contentContainer {
    margin-top: -2rem;
}

.name {
    font-size: 3.2rem;
}

.rating {
    margin: 1rem 0;
}

.comment {
    font-size: 1.8rem;
    color: var(--color-dark-grey-2);
}