.card {
    padding: 4rem 8rem 2rem 8rem;
    box-shadow: var(--shadow-dark);
    width: 50%;
    margin: 3rem 0;

    &:first-child {
        margin-top: 8rem;
    }

    &:last-child {
        margin-bottom: 8rem;

    }
    
}

.avatarContainer {
    display: flex;
    justify-content: flex-end;
}

.avatar {
    width: 15rem;
    height: 15rem;
    margin-right: 4rem;
}

.contentContainer {
    padding-right: 2rem;
    margin-top: -2rem;
}

.name {
    font-size: 3.2rem;
}

.rating {
    margin: 1rem 0;
}

.comment {
    font-size: 1.8rem;
    color: var(--color-dark-grey-2);
}