.appbar {
    background-color: #cb997e;
    position: fixed;
    top:0;
    
}

.container {
    padding: 0 1rem;
    
}

.logo {
    font-size: 1.6rem;
    cursor: pointer;
}

.mobileLogo {
    font-size: 2.5rem;
    cursor: pointer;
}

.menuItem {
    font-size: 1.3rem;
    height: 100%;

    &:hover {
        background-color: rgb(255, 253, 253);
        color: var(--color-primary-tan-1);
    }
}

.burgerIcon {
    font-size: 3rem;
}

.burgerText {
    font-size: 1.7rem;
    font-family: 'Open Sans', 'sans serif';
}
