.appbar {
    background-color: #cb997e;
    
}

.container {
    padding: 0 1rem;
    position: sticky;
    top:0;
}

.logo {
    font-size: 1.6rem;
    cursor: pointer;
}

.menuItem {
    font-size: 1.3rem;
    height: 100%;

    &:hover {
        background-color: rgb(255, 253, 253);
        color: var(--color-primary-tan-1);
    }
}