@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anonymous+Pro&family=Bebas+Neue&family=Black+Ops+One&family=Bungee+Shade&family=Gideon+Roman&family=Marcellus&family=Open+Sans:wght@300&family=Orbitron:wght@600&family=Permanent+Marker&family=Saira+Condensed:wght@200&family=Share+Tech+Mono&family=Teko&display=swap');

:root {
  --color-primary-tan-1: #cb997e;
  --color-primary-tan-2:#ddbea9;
  --color-primary-tan-3:#ffe8d6;

  --color-secondary-green-1:#6b705c;
  --color-secondary-green-2:#a5a58d;
  --color-secondary-green-3:#b7b7a4;

  --color-light-grey-1: #d7d6d6;

  --color-dark-grey-1: rgb(50, 50, 50);
  --color-dark-grey-2: rgb(106, 106, 106);

  --shadow-dark: 0 1rem 4rem rgba(0,0,0,0.2);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);

  --line: 1px solid var(--color-light-grey-1);
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;

  @media only screen and (max-width: 1200px) {
    font-size: 55%;
}
  @media only screen and (max-width: 1020px) {
    font-size: 52%;
}
  @media only screen and (max-width: 800px) {
    font-size: 46%;
}
  
}

* {
  box-sizing: border-box;
}



