.container {
    display: flex;
    flex-direction: column;
}

.heroSection {
    background-color: var(--color-secondary-green-3);
}

.statsSection {
    margin-bottom: 2rem;
    padding: 3rem 1rem 2rem 1rem;
    background-color: var(--color-secondary-green-3);
}

.aboutSection {
    margin: 5rem 2rem;
}

.propertiesSection {
    margin-top: 15rem;
    background-color:var(--color-primary-tan-3);
}