.container {
    display: flex;
    flex-direction: column;
}

.heroSection {
    background-color: rgb(242, 242, 242);
}

.statsSection {
    margin-bottom: 2rem;
    padding: 3rem 1rem 2rem 1rem;
    background-color: rgb(242, 242, 242);
}

.aboutSection {
    margin: 5rem 2rem;
}